.overview-wrap{
    max-width: 70%;
    margin: auto;
    margin-top: 50px;
    text-align: left;
}

h3{
    font-size: 18px;
}

li{
    list-style: none;
}

.overview-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 75px;
}

.item{
    width: 275px;
    height: 100px;
}


@media(min-width: 1400px){
    .overview-wrap{
        max-width: 65%;
    }
}